<header class="text-center bg-primary text-white p-3">
    <h2>MY STORE - CUSTOMER SITE 🛒</h2>
    <nav class="mt-2">
        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="text-white mx-2">Trang chủ</a>
        <a asp-area="Customer" asp-controller="Home" asp-action="About" class="text-white mx-2">Giới thiệu</a>
        <a asp-area="Customer" asp-controller="Home" asp-action="Contact" class="text-white mx-2">Liên hệ</a>
        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="text-white mx-2">Giỏ hàng</a>
    </nav>
</header>

